/* NavigationBar.css */

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border-bottom: 1px solid #ffd700;
}

.logo {
  display: flex;
  align-items: center;
}

.circle {
  width: 80px;
  height: 80px;
  background-color: #ffd700;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logo-image {
  max-width: 100%;
  max-height: 100%;
}

.site-name {
  color: red;
  font-size: 24px;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 0;
}

.active-webcam-button {
  margin-left: auto;
  margin-right: 10px;
}

.active-webcam-button a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
}

.active-webcam-button a:hover {
  background-color: #b31200;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 4px 8px;
  background-color: black;
  color: white;
  border: none;
}

.search-bar button {
  margin-left: 10px;
  padding: 4px 8px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #b31200;
}

/* Define a typewriter animation */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Apply the animation to .site-info */
.site-info {
  display: flex;
  align-items: center;
  position: relative;
}

.golden-text {
  color: white;
  font-weight: bolder;
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 4s steps(20) infinite;
  padding-right: 5px;
  font-style: italic;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: stretch;
  }

  .logo {
    margin-bottom: 20px;
  }

  .active-webcam-button {
    margin-left: 0;
    margin-top: 10px;
  }
}
